.tab-selector-item-new {
  cursor: pointer;
  color: var(--mp-header-color);
  user-select: none;
  color: #303337;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 5px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  position: relative;

  &_active {
    color: #1570ef;
    // font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 2px;
      background-color: #1570ef;
    }
  }
}
