.tabs-wrapper-new {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__container {
    width: 100%;
    height: 10px;
    flex: 1;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--medpult-bg-color);
    // height: 45px;
    // align-items: center;
    //padding: 0 18px;

    min-height: 45px;
    align-items: end;
  }

  &__selector {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 7px;
  }
}
