.filter-item-variants-search {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 178px;
  overflow-y: auto;
  overflow-x: hidden;

  scroll-behavior: smooth;
  padding-right: 8px;
}

.filter-item-variants-search::-webkit-scrollbar {
  width: 4px; /* ширина полосы прокрутки */
  height: 74px;
}

.filter-item-variants-search::-webkit-scrollbar-thumb {
  background-color: #d5d7da; /* цвет ползунка */
  border-radius: 4px; /* закругление */
}

.filter-item-variants-search::-webkit-scrollbar-track {
  background: #0a0d120f; /* фон дорожки */
}
