.files-uploader {
  position: relative;
  width: 100%;
  min-height: 100px;
  border: 2px dashed #d9d9d9;
  border-radius: 9px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3px;

  &.drag-active {
    background-color: #f6fcff;
    border-color: #53b5df;
  }

  &__input {
    display: none !important;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
  }

  &__upload {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.032px;
    color: #666666b3;

    &__link {
      cursor: pointer;
      color: #5295fab3;
    }
  }
  &__list {
    margin-top: 2px 0;
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      gap: 12px;
      align-items: center;
      padding-left: 24px;
      color: #5295fa;
      font-size: 15px;
    }
    &__delete {
      cursor: pointer;
    }
  }
}
