.filter-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 7px;

    &:hover {
      background-color: #eeeeee;
    }
  }

  &__title {
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #222427;
    flex: none;
    order: 0;
    flex-grow: 1;
  }

  &__arrow {
    transform: rotate(360deg);
    &_open {
      transform: rotate(180deg);
    }
  }
}
