.interactions-open-panel-executor {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #222427;
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-auto-rows: auto;
    column-gap: 40px;
    row-gap: 40px;

    &_group {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__value {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #303337;

      &.link {
        color: #1570ef;
        cursor: pointer;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 20px;

      &_button {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #1570ef;
      }
    }
  }
}

.interactions-open-panel-executor__group__buttons_button.disabled {
  opacity: 0.4;
  background-color: #f5f5f5;
  pointer-events: none;
  cursor: not-allowed;
}
