.filters-wrapper {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  //overflow: hidden;
  min-height: 75vh;
  padding: 20px;
  position: relative;

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & button,
    &_search-button {
      width: 100%;
    }
  }
  &__error-message {
    font-family: "Inter";
    font-size: 14px;
    color: red;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__filter {
    position: absolute;
    right: -18px;
    top: 30px;
    transform: translateY(-50%);
    z-index: 2;
  }
}
