.list-header-column {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: start;

  &__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #565a62;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    & > span {
      display: flex;
      align-items: center;
    }
  }
}
