.interactions-open-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    &_dublicate {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 8px;
    }

    &_title {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #222427;
    }

    &_count {
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      background-color: #e39133;
      min-width: 20px;
      height: 20px;
      border-radius: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4px;
    }

    &_number {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #717680;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.25px;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}
