.files-dropdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  right: 0;
  margin-top: 8px;
  background: #ffffff;
  box-shadow: 0 4px 16px 0 #0a0d121f;
  border-radius: 12px;
  padding: 8px;
  z-index: 10;
  width: 280px;
  max-height: 250px;
  overflow-y: auto;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background: #565a621f;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #303337;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}
