.filter-item-date {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__group {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &__error {
    font-family: "Inter";
    color: #d92d20;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
  }
}
