.double-stroke-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    &__first-row,
    &__second-row {
        width: 100%;
        overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
    }

    &__first-row {
        /* Table/medium */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;

        color: #303337;
    }

    &__second-row {
        /* Table/small */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;

        color: #565A62;
    }
}