@import url("TextEditor/textEditor.scss");
@import url("FileUploader/fileUploader.scss");
.email-modal {
  height: 100%;
  max-height: 95vh;
  width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 #0a0d121f;
  margin: 24px;
  font-family: "Inter";

  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9fafa;
    height: 55px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0 18px;

    &__title {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.04px;
      color: #53b5df;
    }
  }

  &__content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    &__input {
      display: grid;
      grid-template-columns: 1fr 1fr;

      align-items: center;
      margin-bottom: 2px;

      &__label {
        color: #666;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.032px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      margin-top: 12px;
      flex: 1;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 2px;
    }
  }
}
