.filtered-interactions {
  display: flex;
  flex-direction: column;
  width: 320px;
  font-family: "Inter";

  &__button {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__search {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
