.interactions-open-panel-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(225px, 1fr));
  grid-auto-rows: auto;
  column-gap: 40px;
  row-gap: 40px;

  &__object {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__value {
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #303337;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
  &__status {
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #303337;
    display: flex;
    gap: 8px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &_button {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #1570ef;
      &:active {
        color: #0d4695;
      }
    }

    &_file {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}
